## .NET
bin/
obj/
*.user
*.suo
*TestResults

# VS Code
.vscode/

# JetBrains Rider
.idea/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


# Claude Code
CLAUDE.md
docs/*.md
ss/*.png
docs/*.png
AutoSave_*.json
presets.json
